.Day {
    width: 20%;
    min-width: 200px;
    max-width: 250px;
    /* float: left; */
    /* margin-left: 10px;
    margin-right: 10px; */
    margin: 10px;
    border: 1px solid black;
    box-shadow: 0 5px 10px gray;
    background-color: aliceblue;
    padding: 10px;
}