.weather-items {
    /* color: white;
    background: black; */
    font-size: 1rem;
    /* height: 80px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button-get-coord {

    color: white;
    padding: 5px 15px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-bottom-color: rgba(0, 0, 0, 0.34);
    box-shadow: 0px 4px 0px #87a86f;
    background-color: #87a86f;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset,
        0 2px 0 -1px rgba(0, 0, 0, 0.13),
        0 3px 0 -1px rgba(0, 0, 0, 0.08),
        0 3px 13px -1px rgba(0, 0, 0, 0.21);
}

.button-get-coord:active {
    box-shadow: 0px 4px 0px #87a86f;
    border-radius: 4px;
    background-color: #87a86f;
    top: 1px;
    border-color: rgba(0, 0, 0, 0.34) rgba(0, 0, 0, 0.21) rgba(0, 0, 0, 0.21);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.89), 0 1px rgba(0, 0, 0, 0.05) inset;
    position: relative;
}

.search-label {
    margin: 10 10 10 10;
}
